<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>727379012372-cj14j18bf4un8qmfqav682fr7p001rpf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.727379012372-cj14j18bf4un8qmfqav682fr7p001rpf</string>
	<key>API_KEY</key>
	<string>AIzaSyAyp-19myg1vmxl-BA05XLgwvTzgHj_0gk</string>
	<key>GCM_SENDER_ID</key>
	<string>727379012372</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.fastcampus.LMessenger</string>
	<key>PROJECT_ID</key>
	<string>lmessanger-59317</string>
	<key>STORAGE_BUCKET</key>
	<string>lmessanger-59317.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:727379012372:ios:475f0857d29cd298b43001</string>
</dict>
</plist>